@import "../views/bump/bump";
@import "../directives/notifs/notifs";
@import "../views/add/add";
@import "../views/dashboard/dashboard";
@import "../directives/nav-bar/nav-bar";
@import "../views/home/home";

body {
  margin: 0;
  padding-top: 78px;
  font-family: sans-serif;
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 58px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  > div i {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
}

.sync-animate {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
