<div class="row">
  <div class="all-full">

    <div ng-if="!vm.githubRepos.length" class="flash flash-warn">
      You don't have any github repository.
    </div>

    <div ng-repeat="repo in vm.githubRepos">

      <strong>{{ repo.name }}</strong>
      <button ng-click="vm.addRepo(repo)" ng-show="repo.havePackage && !repo.addedToBumper">
        add to bumber
      </button>
      <button ng-click="vm.removeRepo(repo)" ng-show="repo.addedToBumper">
        remove from bumper
      </button>
      <br/>
      have package : <strong>{{ repo.havePackage }}</strong>
      <br/>
      added to bumper: <strong>{{ repo.addedToBumper }}</strong>
      <br/>
      bumper repo id: <strong>{{ repo.bumperId }}</strong>
      <br/>
      <br/>
    </div>

  </div>
</div>

<div class="overlay" ng-if="vm.ui.fetching">
  <div>
    <i class="octicon octicon-sync"></i> Fetching your repositories...
  </div>
</div>
