<div class="row">
  <div class="all-full">

    <div ng-if="!vm.githubRepos.length" class="flash flash-warn">
      You don't have any github repository.
    </div>

    <div ng-repeat="repo in vm.githubRepos">

      <strong>{{ repo.name }}</strong>
      <br/>
      have package : <strong>{{ repo.havePackage }}</strong>
      <button ng-click="vm.addRepo(repo)" ng-if="repo.havePackage">
        add to bumber
      </button>
      <br/>
      <br/>
    </div>

    <h2>your bumber repos:</h2>

    <div ng-repeat="repo in vm.bumberRepos">
      {{ repo.infos.name }}
      <button ng-click="vm.removeRepo(repo)">
        remove
      </button>
    </div>

  </div>
</div>

<div class="overlay">
  <div>
    <i class="octicon octicon-sync"></i> Fetching your repositories...
  </div>
</div>
