<div class="row">
  <div class="all-full">

    <div ng-if="!vm.githubRepos.length" class="flash flash-warn">
      You don't have any github repository.
    </div>

    <button ng-click="vm.fetch()" class="btn-big" ng-class="{ 'btn-big-active': vm.ui.loading }">
      <span class="mega-octicon octicon-sync"></span>
      <span>Fetch Github</span>
    </button>

    <div class="add-repos-list">

      <div ng-repeat="repo in vm.githubRepos | orderBy: 'name'">

        <a ng-href="https://github.com/{{ Auth.getUser().username }}/{{ repo.name }}" target="_blank">
          <h3><i class="octicon octicon-mark-github"></i> {{ repo.name }}</h3>
        </a>

        <button ng-click="vm.addRepo(repo)" ng-show="repo.havePackage && !repo.addedToBumper" class="btn btn-primary">
          <i class="octicon octicon-plus"></i> Add to bumper
        </button>

        <button ng-click="vm.removeRepo(repo)" ng-show="repo.addedToBumper" class="btn btn-danger">
          <i class="octicon octicon-x"></i> Remove from bumper
        </button>

        <br/>
        bumper repo id: <strong>{{ repo.bumperId }}</strong>
        <br/>
        <br/>
      </div>

    </div>

  </div>
</div>

<div class="overlay" ng-show="vm.ui.fetching">
  <div>
    <i class="octicon octicon-sync"></i> <span>Fetching your repositories...</span>
  </div>
</div>
