<div class="home-container">

  <div class="row">
    <div class="all-full centered main-title">
      <h1>Bumper</h1>
      <em>Update your npm dependencies, easily.</em>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="all-full centered main-login">
      <button ng-click="vm.login()" ng-class="{ disabled: vm.authenticating }" class="btn btn-primary">
        <i class="octicon octicon-mark-github"></i> {{ vm.authenticating ? 'Login...' : 'Login through github' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="all-full desktop-half centered">

      <div class="blankslate">
        <span class="mega-octicon octicon-repo-push"></span>
        <span class="mega-octicon octicon-key"></span>
        <h3>Authentification required to get started</h3>
        <p>We're not bad guys, we will do nothing without your conscent.</p>
        <p>You can browse the <a href="http://github.com/42Zavattas/Bumper">code here</a>, just to be sure.</p>
      </div>

    </div>
  </div>

</div>

