<div class="row">
  <div class="all-fourth centered">
    <h1 class="main-title">Bumper</h1>
  </div>
</div>

<div class="row">
  <div ng-repeat="repo in vm.repos">
    {{ repo }}
  </div>
</div>

<div class="row" ng-if="!Auth.isLogged()">
  <div class="all-full">

    <div class="blankslate">
      <span class="mega-octicon octicon-repo-push"></span>
      <span class="mega-octicon octicon-key"></span>
      <h3>Authentification required to get started</h3>
      <p>We're not bad guys, we will do nothing without your conscent.</p>
      <p>You can browse the <a href="http://github.com/42Zavattas/Bumper">code here</a>, just to be sure.</p>
    </div>

  </div>
</div>
