notifs > .row > div {
  position: relative;
}

.notifs-container {
  position: absolute;
  right: 0;
  z-index: 11;
  .notif {
    margin-bottom: 10px;
  }
  .notif-msg {
    margin-left: 10px;
  }
}
