<div class="row">
  <div class="all-full">

    <div ng-if="!vm.loading && !vm.repos.length" class="flash flash-warn">
      You don't have any bumper repo activated, do you want to <a href="/add">add one</a> ?
    </div>

    <div class="main-list">

      <div ng-repeat="repo in vm.repos" class="main-list--repo">

        <h3>
          <a ng-href="/b/{{ Auth.getUser().username }}/{{ repo.infos.name }}">/{{ Auth.getUser().username }}/{{ repo.infos.name }}</a>
          <a ng-href="{{ repo.infos.url }}" target="_blank"><i class="octicon octicon-mark-github"></i></a>
        </h3>
        <p>
          <em>{{ repo.infos.description }}</em>
        </p>
        <strong>deps: {{ repo.david.deps }}</strong><br/>
        <strong>dev deps: {{ repo.david.devDeps }}</strong><br/>

      </div>

    </div>

  </div>
</div>
