<div class="row">
  <div class="all-full">

    <div ng-if="!vm.repos.length" class="flash flash-warn">
      You don't have any bumper repo activated, do you want to <a href="/add">add one</a> ?
    </div>

    <div ng-repeat="repo in vm.repos">

      <h3>{{ repo.infos.name }}</h3>
      <strong>name: </strong> {{ repo.infos.name }}<br/>
      <strong>deps:</strong><br/>
      <ul>
        <li ng-repeat="dep in repo.deps">
          {{ dep | json }}
        </li>
      </ul>
      <strong>dev deps:</strong><br/>
      <ul>
        <li ng-repeat="dep in repo.devDeps">
          {{ dep | json }}
        </li>
      </ul>


    </div>

  </div>
</div>
