<div class="row">
  <div class="all-full">

    <div ng-if="!vm.loading && !vm.repos.length" class="flash flash-warn">
      You don't have any bumper repo activated, do you want to <a href="/add">add one</a> ?
    </div>

    <div class="main-list">

      <div ng-repeat="repo in vm.repos" class="main-list--repo">

        <h3>
          <a ng-href="/b/{{ Auth.getUser().username }}/{{ repo.infos.name }}">{{ Auth.getUser().username }} / {{ repo.infos.name }}</a>
          <a ng-href="{{ repo.infos.url }}" target="_blank"><i class="octicon octicon-mark-github"></i></a>
        </h3>

        <p>
          <em>{{ repo.infos.description }}</em>
        </p>

        <div class="row">
          <div class="all-half mobile-full">

            <h5>Dependencies</h5>

            <div class="row">

              <span ng-if="repo.david.deps.invalid" class="state state-closed">
                <i class="octicon octicon-alert"></i>
                {{ repo.david.deps.invalid }} invalid
              </span>
              <span ng-if="repo.david.deps.outOfDate" class="state state-closed">
                <i class="octicon octicon-issue-opened"></i>
                {{ repo.david.deps.outOfDate }} out-of-date
              </span>
              <span ng-if="repo.david.deps.quasiUpToDate" class="state state-wait">
                <i class="octicon octicon-info"></i>
                {{ repo.david.deps.quasiUpToDate }} up-to-date
              </span>
              <span ng-if="repo.david.deps.upToDate" class="state state-open">
                <i class="octicon octicon-check"></i>
                {{ repo.david.deps.upToDate }} up-to-date
              </span>

            </div>

            <span ng-if="!repo.david.deps.nb"
                  class="state state-open">
              <i class="octicon octicon-check"></i>
              no dependencies
            </span>

          </div>
          <div class="all-half mobile-full">

            <h5>Dev Dependencies</h5>

            <div class="row">

              <span ng-if="repo.david.devDeps.invalid" class="state state-closed">
                <i class="octicon octicon-alert"></i>
                {{ repo.david.devDeps.invalid }} invalid
              </span>
              <span ng-if="repo.david.devDeps.outOfDate" class="state state-closed">
                <i class="octicon octicon-issue-opened"></i>
                {{ repo.david.devDeps.outOfDate }} out-of-date
              </span>
              <span ng-if="repo.david.devDeps.quasiUpToDate" class="state state-wait">
                <i class="octicon octicon-info"></i>
                {{ repo.david.devDeps.quasiUpToDate }} up-to-date
              </span>
              <span ng-if="repo.david.devDeps.upToDate" class="state state-open">
                <i class="octicon octicon-check"></i>
                {{ repo.david.devDeps.upToDate }} up-to-date
              </span>

            </div>

            <span ng-if="!repo.david.devDeps.nb"
                  class="state state-open">
              <i class="octicon octicon-check"></i>
              no dependencies
            </span>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>
