<nav class="main-nav">
  <div class="row">
    <div class="all-full">

      <div class="main-nav--container">

        <ul class="main-nav--items">
          <li>
            <a href="/">
              <i class="octicon octicon-home"></i>
            </a>
          </li>
        </ul>

        <ul class="main-nav--items">
          <li ng-if="!Auth.isLogged()">
            <a ng-click="login()" ng-class="{ disabled: nav.redirecting }" class="btn btn-primary" role="button">
              <i class="octicon octicon-mark-github"></i> login through github
            </a>
          </li>
          <li ng-if="Auth.isLogged()">
            <img src="https://avatars0.githubusercontent.com/u/6033345?v=3&s=460">
          </li>
          <li ng-if="Auth.isLogged()">
            <a href="#" ng-click="Auth.logout()">
              <i class="octicon octicon-sign-out"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</nav>
