<nav class="main-nav">
  <div class="row">
    <div class="all-full">

      <div class="main-nav--container">

        <ul class="main-nav--items">
          <li>
            <a href="/dashboard">
              <i class="octicon octicon-home"></i>
            </a>
          </li>
        </ul>

        <ul class="main-nav--items">
          <li ng-if="Auth.isLogged()">
            <img ng-src="{{ Auth.getUser().avatar }}">
          </li>
          <li ng-if="Auth.isLogged()">
            <a href="#" ng-click="Auth.logout()">
              <i class="octicon octicon-sign-out"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</nav>
